body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

header {
  flex-basis: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  min-height: 5vh;
}

header > * {
  display: flex;
  align-self: center;
}

.fa-bars {
  color: #6070ff;
}

main {
  padding: 0;
}

.wrapper {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 50vh;
  margin-top: 15%;
  flex-direction: column;
  align-self: center;
}

.primary-text {
  color: #172b4d;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  margin-top: 0;
}

.secondary-text {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin-top: -5%;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.third-text {
  text-transform: uppercase;
  color: #7f8cff;
  margin-top: -2%;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
  width: 30%;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

#ellipse-11 {
  position: relative;
  margin-left: -40px;
  margin-top: 10%;
}

#ellipse-03 {
  position: absolute;
  width: 55px;
  left: 320px;
  top: 72.24px;
}

#ellipse-12 {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 331.76px;
  top: 496.69px;
}

#ellipse-04 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 600.1px;
}

#rect-07 {
  position: absolute;
  width: 26.46px;
  height: 20.73px;
  left: 127.18px;
  top: 101.59px;
}

#ellipse-05 {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 128px;
  top: 111px;
}

/* work section */
.work {
  display: grid;
  width: 95%;
  margin-top: 15%;
  grid-template-rows: 580px 630px 580px 630px;
  padding: 50px 10px 10px 10px;
  background-color: #e5e5e5;
  row-gap: 100px;
}

.project {
  background-color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 19px;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}

.screenshot > img {
  width: 100%;
}

.project-name {
  text-align: left;
  margin-top: 5px;
  font-style: normal;
  font-weight: bolder;
  font-size: 42px;
  line-height: 44px;
  color: #172b4d;
  text-transform: capitalize;
}

.meta {
  margin-top: -33px;
  display: flex;
  justify-content: flex-start;
  font-size: 13px;
}

.meta > * {
  padding-right: 10px;
}

.meta > img {
  width: 8px;
  height: 8px;
  align-self: center;
  margin-top: -3px;
}

.social > li > img {
  height: 25px;
}

.meta > :first-child {
  text-transform: uppercase;
  color: #344563;
  font-weight: bolder;
}

.meta > :nth-child(3) {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: capitalize;
  color: #7a869a;
}

.meta > :nth-child(5) {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: capitalize;
  color: #7a869a;
}

.second-text {
  margin-top: -3px;
  color: #344563;
  text-align: left;
}

.tools {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0;
  padding: 0;
  margin-top: -10px;
}

.tools > li {
  padding: 0 12px;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
}

.button {
  display: block;
  text-decoration: none;
  background-color: white;
  color: #396df2;
  border: 1px solid #396df2;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.button:hover {
  color: white;
  background-color: #6070ff;
}

.button:active {
  background-color: #2230d2;
  color: white;
}

.buton:disabled {
  color: #5e6c84;
  border-color: #5e6c84;
}

/* about code */
.about {
  background-color: white;
  display: grid;
  grid-template-rows: auto auto 70px 70px;
}

.about > .wrapper,
.languagues,
.frameworks,
.skills {
  background-color: white;
}

.about > .wrapper {
  padding: 50px 20px 20px 20px;
}

.technologies {
  margin: 0;
  padding: 0;
  background-color: red;
}

.languagues {
  display: grid;
  padding: 0 32px 32px 32px;
  margin-top: -10px;
  grid-template-rows: 80px 70px 70px 70px;
  grid-template-areas:
    'title'
    'js'
    'html'
    'css';
  border-bottom: 1px solid #e5e5e5;
}

.languagues > .title > p,
.frameworks > .title > p,
.skills > .title > p {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.title {
  grid-area: title;
  display: grid;
  grid-template-columns: 85% 15%;
}

.title > span {
  margin-top: 27px;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 24px;
  transform: rotate(90deg);
  color: #acb7c3;
}

.frameworks > .title > span,
.skills > .title > span {
  transform: rotate(0deg);
}

.frameworks > .title,
.skills > .title {
  grid-template-columns: 90% 10%;
}

.child-ul {
  margin: 0;
  padding: 10px;
}

.child-languagues {
  display: grid;
  grid-template-columns: 20% 80%;
}

.frameworks,
.skills {
  padding-left: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  padding: 103px 24px;
  border-radius: 80px 0 0 0;
}

.contact-form > form {
  display: flex;
  flex-direction: column;
  height: 390px;
  justify-content: space-between;
}

.input {
  font-family: poppins, sans-serif;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  line-height: 20px;
  padding: 10px;
  height: 30px;
  font-size: 17px;
}

.textarea {
  height: 150px;
  border-radius: 10px;
  font-family: poppins, sans-serif;
  padding: 10px;
  font-size: 17px;
}

.contact-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  color: #fff;
}

.contact-subtitle {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: -10px;
  padding-bottom: 20px;
}

.contact-button {
  display: block;
  border: none;
  width: 150px;
  height: 50px;
  font-family: poppins, sans-serif;
  background: #fff;
  border-radius: 8px;
  line-height: 24px;
  padding: 12px 16px;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  text-transform: capitalize;
}
.contact-button:hover{
  background-color: white;
  color: #6070ff;
}
.contact-button:active{
  background-color: white;
  color: #2230D2;
}
.contact-button:disabled{
  background-color: white;
  border:1px solid #5E6C84;
  color: #5E6C84;
}

.contact-form > ul > li {
  position: absolute;
}

.shapes {
  position: absolute;
  background-image: url('elements/shapes.png');
  width: 215px;
  height: 709.17px;
  background-repeat: no-repeat;
  left: 159px;
  top: 4620px;
}
